@import "~taro-ui/dist/style/components/modal.scss";

  .atmodal-content {
    position: relative;
    z-index: 1004;
    height: 680px;
    background-image: url(https://cdn.geekbuluo.com/modal3-min.png);
    background-size: 100% 600px;
    background-repeat: no-repeat;
    overflow: hidden;
    .title {
      color: #614AE3;
      text-align: center;
      margin-top:40px;
      font-size: 42px;
    }
    .body {
      color: #333;
      margin: 60px 20px 20px 40px;
      font-size: 28px;
      .item {
        margin: 30px 0;
        text {
          width: 40px;
          height: 40px;
          text-align: center;
          color: #fff;
          margin-right: 10px;
          display: inline-block;
          background-color: #ffc003;
          border-radius: 50%;
        }
      }
    }
  }
  .close {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(223, 222, 222);
    font-size: 28px;
  }
