
.container {
  width: 92vw;
  padding: 0 4vw;
  height: 100vh;
  overflow: auto;
  position: relative;
  background-image: url(https://cdn.geekbuluo.com/qiandao/bg.png);
  background-size: 750px auto;
  background-position-y: -98px;
  background-repeat: no-repeat;
  -webkit-overflow-scrolling: touch;
 .body {
   background: #fff;
   height: 90vh;
   padding: 0 20px;
   margin-top: 50px;
   overflow: hidden;
   border-radius: 20px 20px 0 0;
 }
 .content-line {
   text-align: center;
   color: #333;
   font-size: 28px;
 }
 .fuzhi {
   background-color: violet;
   color: white;
   font-size: 28px;
   padding: 4px 10px;
   border-radius: 6px;
 }
 .header-line {
   margin: 50px 0;
    text:nth-child(1) {
      display: inline-block;
      margin-right: 10px;
      height: 50px;
      width: 50px;
      font-weight: bolder;
      font-size: 32px;
      line-height: 50px;
      border-radius: 50%;
      color: #fff;
      background-color: #ff8901;
      text-align: center;
    }
 }
}