@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/calendar.scss";

.at-calendar__controller {
  display: flex;
  justify-content: space-between;
}

.at-calendar__controller .controller__arrow {
  background-color: transparent;
  color: #fff;
}
.at-calendar__controller .controller__info {
  color: #fff;
}
.at-calendar__list.flex .flex__item-extra .extra-marks .mark {
  width: 26rpx;
  height: 13rpx;
  background-color: #F5CB50;
}

.container {
  width: 92vw;
  height: 100vh;
  padding: 0 4vw;
  overflow: auto;
  background: linear-gradient(#1D2045 30%, #1D2045, #692003);
  
  .header-line {
    font-size: 28px;
    color: #fff;
    padding-left: 10px;
    position: relative;
    margin: 20px 0;

    &::before {
      content: "";
      margin-right: 2px;
      width: 8px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgb(250, 52, 3), #f7b603);
    }
  }
  
}