@import "~taro-ui/dist/style/components/icon.scss";

.container {
  width: 92vw;
  height: 100vh;
  padding: 0 4vw;
  overflow: auto;
  // background: linear-gradient(#1D2045 30%, #1D2045, #2C2B40);
  background-image: url(http://cdn.geekbuluo.com/qiandao/bg.png);
  background-size: 750px auto;
  background-position-y: -98px;
  background-repeat: no-repeat;
  .header {
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: rgb(23, 204, 99);
    width: 80%;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgb(11, 51, 2);
  }
  .body {
    background: #fff;
    border-radius: 10px 10px 0 0;
    overflow: hidden;

    .record-item {
      margin-bottom: 10px;
      height: 80px;
      line-height: 80px;
      font-size: 28px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 1px 10px -5px #999;

      .left {
        color: #666;
        width: 220px;
        flex-shrink: 0;
      }

      .center {
        color: #999;
      }

      .right {
        .in {
          color: rgb(13, 168, 8);
        }

        .out {
          color: rgb(238, 8, 8);
        }
      }
    }

    .bottom {
      color: #999;
      font-size: 26px;
      margin: 20px 0;
      text-align: center;
    }
  }
}