@import "~taro-ui/dist/style/components/icon.scss";

.container {
  width: 92vw;
  height: 100vh;
  padding: 0 4vw;
  overflow: auto;
  background: linear-gradient(#1D2045 30%, #1D2045, #2C2B40);
  .header {
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    background-color: rgb(23, 204, 99);
    width: 80%;
    text-align: center;
    margin: 20px auto;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgb(11, 51, 2);
  }
  .body {
    .record-item {
      height: 120px;
      margin-bottom: 10px;
      padding: 0 20px;
      font-size: 28px;
      color: #1D2045;
      background: #fff;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        view:nth-child(2) {
          font-size: 32px;
        }
      }
      .right {
        font-size: 30px;
        .over {
          color: rgb(13, 168, 8);
        }
        .check {
          color: rgb(250, 3, 3);
        }
      }
    }
  }

  .icon-yuanbao {
    font-size: 40px;
  }

}