@import "~taro-ui/dist/style/components/icon.scss";

.container {
  width: 92vw;
  height: 100vh;
  padding: 0 4vw;
  overflow: auto;
  background-image: url(http://cdn.geekbuluo.com/qiandao/bg.png);
  background-color: rgb(250, 250, 249);
  background-size: 750px 400px;
  background-repeat: no-repeat;
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 370px;
    margin-top: 150px;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 20px -11px #F3AD3D;
    .crown {
      width: 160px;
      height: 120px;
      position: absolute;
      top: -150px;
      z-index: 11;
      margin-left: 26px;
      transform: rotate(10deg);
    }
    .user-avatar {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      border: 1px solid rgb(250, 239, 221);
      top: -76px;
      z-index: 10;
      flex-shrink: 0;
      display: block;
      overflow: hidden;
    }

    .user-nickname {
      margin-top: 110px;
      color: #333;
    }
    .user-qtype {
      color: #777892;
      margin-top: 10px;
      font-size: 24px;
    }
    .banner {
      display: flex;
      justify-content: space-around;
      color: #333;
      margin-top: 33px;
      width: 100%;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text:nth-child(1) {
          font-size: 50px;
          color: #804a22;
        }
        text:nth-child(2) {
          font-size: 26px;
        }
      }
    }
  }

  .body {
    margin-top: 60px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 33%;
      height: 160px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      font-size: 26px;
      color: #333;
      justify-content: space-around;
      align-items: center;

      .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
  }

}