@import "~taro-ui/dist/style/components/icon.scss";

.container {
  width: 92vw;
  height: 100vh;
  padding: 0 4vw;
  overflow: auto;
  // background: linear-gradient(#1D2045 30%, #1D2045, #2C2B40);
  background-image: url(http://cdn.geekbuluo.com/qiandao/bg.png);
  background-size: 750px auto;
  background-position-y: -98px;
  background-repeat: no-repeat;
  .share {
    width: 580px;
    font-size: 28px;
    border-color: transparent;
    color: white;
    background: linear-gradient(to right, rgb(250, 91, 91), #f81c15);
    height: 80px;
    line-height: 80px;
    animation: 'share-ani'1s linear infinite;
  }

  @keyframes share-ani {
    0% {
      transform: rotate(0deg) scale(1);
    }

    25% {
      transform: rotate(.5deg) scale(1.03);
    }

    50% {
      transform: rotate(0deg) scale(1);
    }

    75% {
      transform: rotate(-.5deg) scale(1.03);
    }

    100% {
      transform: rotate(0deg) scale(1);
    }
  }
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    color: #fff;
    .balance {
      margin: 0 10px;
    }
  }

  .body {
    background: #fff;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    height: 84vh;
    .day-title {
      height: 55px;
      line-height: 55px;
      width: 200px;
      margin: 20px 0;
      background-color: #F8D253;
      color: white;
      border-radius: 0 27px 27px 0;

    }
    .record-item {
      margin-bottom: 10px;
      height: 80px;
      line-height: 80px;
      font-size: 28px;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 1px 10px -5px #999;
      .left {
        color: #666;
        width: 250px;
        flex-shrink: 0;
      }
      .center {
        color: #999;
        text-align: right;
      }
      .right {
        .in {
          color: rgb(13, 168, 8);
        }

        .out {
          color: rgb(238, 8, 8);
        }
      }
    }
    .bottom {
      color: #999;
      font-size: 26px;
      margin: 20px 0;
      text-align: center;
    }
  }
 
}